<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhawal Patil</title>
    <link href="styles/main.css" rel="stylesheet"/>
</head>
<body>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger p-2 mb-2">
        <div class="container">
          <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText" role="tablist">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% set active_page = "home" %}
              {% for page_name, page in pages %}
              <li class="nav-item">
                <a class="nav-link {% if page == active_page %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#nav-{{page}}" type="button" role="tab" aria-controls="nav-{{page}}" aria-selected="{% if page == active_page %}true{% else %}false{% endif %}" aria-current="page" href="#">
                    {{ page_name }}
                </a>
              </li>
              {% endfor %}
            </ul>
            <!-- <span class="navbar-text">
              Navbar text with an inline element
            </span> -->
          </div>
        </div>
      </nav>

      <div class="tab-content container-fluid my-2 p-0" id="nav-tabContent">
        <div class="tab-pane fade show active m-0 p-0" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          <div class="container-fluid shadow-sm d-flex flex-wrap mx-0 my-3 p-0">
            <div class="col-4 col-12-lg d-flex justify-content-center" id="alma-matter-label">
              <div class="align-self-center display-5 text-white fw-medium">My alma matter</div>
            </div>
            <div class="col-8 col-12-lg d-flex justify-content-center">
              <div class="align-self-center align-items-center justify-content-between d-flex flex-row">
                <div class="d-inline-flex m-2 fs-4 text-center">
                  2023<br/>
                  -<br/>
                  2018
                </div>
                <div class="d-inline-flex m-2 fs-5">
                  Indian Institute of Science Education and Research Bhopal
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid shadow-sm d-flex flex-wrap mx-0 my-3 p-0">
            <div class="col-4 col-12-lg d-flex justify-content-center" id="alma-matter-label">
              <div class="align-self-center display-5 text-white fw-medium">My alma matter</div>
            </div>
            <div class="col-8 col-12-lg d-flex justify-content-center">
              <div class="align-self-center align-items-center justify-content-between d-flex flex-row">
                <div class="d-inline-flex m-2 fs-4 text-center">
                  2023<br/>
                  -<br/>
                  2018
                </div>
                <div class="d-inline-flex m-2 fs-5">
                  Indian Institute of Science Education and Research Bhopal
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid shadow-sm d-flex flex-wrap mx-0 my-3 p-0">
            <div class="col-4 col-12-lg d-flex justify-content-center" id="alma-matter-label">
              <div class="align-self-center display-5 text-white fw-medium">My alma matter</div>
            </div>
            <div class="col-8 col-12-lg d-flex justify-content-center">
              <div class="align-self-center align-items-center justify-content-between d-flex flex-row">
                <div class="d-inline-flex m-2 fs-4 text-center">
                  2023<br/>
                  -<br/>
                  2018
                </div>
                <div class="d-inline-flex m-2 fs-5">
                  Indian Institute of Science Education and Research Bhopal
                </div>
              </div>
            </div>
          </div>
            <!-- <img class="col-3" src="images/IMG-20210627-WA0096.jpg" alt="Dhawal Patil.jpg">             -->
        </div>
        
        <div class="tab-pane fade m-2" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab" tabindex="0">
          <table class="table table-hover my-numbered-table">
            <tbody>
              {# This is a comment #}
              {% set heading = [
                "For students of mathematics",
                "Fun mathematics and brainteasers for everyone",
                "Resources for school students and educators"
                ] %}
              {% for group, items in links|groupby("audience") %}
              <tr class="border-bottom border-warning"><th colspan="2">{{heading[loop.index0]}}</th></tr>
              {% for link in items %}
              {# for link in links|sort(attribute="audience") #}
              <tr class="border-bottom">
                {# I have used css for serial numbers but jinja also offers loop.index #}
                <td class="my-numbered-cell"></td>
                <td class="me-auto d-inline-flex flex-wrap justify-content-between w-100">
                    <div class="d-inline-flex justify-content-between w-100">
                      <div>
                          {%- if link.link %} <a href="{{link.link}}" class="text-reset"> {% endif -%}
                            {{link.name}}
                          {%- if link.link %} </a> {% endif -%}
                      </div>
                      <small class="text-warning fst-italic">
                          {{link.source}}
                      </small>
                    </div>
                    <small class="d-block">
                        {{link.desc}}
                    </small>
                </td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab" tabindex="0">
          This website was made using a templating system.
          <a href="https://github.com/dhawalkpatil/dhawalkpatil.github.io">Readme</a>
          for more information.
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>